# Python Cache
__pycache__

# Virtual Environment
venv

# JetBrains PyCharm Cache
.idea

# VS Code Cache
.vscode

# COVID Data
COVID

# Ignore HuggingFace cookies
cookies

# HuggingFace login details
hugging_face.txt